attrdict==2.0.0
certifi==2018.10.15
chardet==3.0.4
Click==7.0
click-didyoumean==0.0.3
click-log==0.3.2
Deprecated==1.2.4
idna==2.7
marshmallow==2.16.3
PyGithub==1.43.3
PyJWT==1.6.4
requests==2.20.1
six==1.11.0
urllib3==1.24.2
wrapt==1.10.11
